html {
    background-color: #FBFCFF;
}
section {
    min-height: 100vh;
}
h1 {
    font-size: 2rem;
}

a.disabled {
  opacity: 0.4;
  pointer-events: none;
  cursor: default;
}

.kpi-value {
  font-size: 2rem;
  font-weight:500;
}
.kpi-text {
  font-size: 1rem;
  font-weight:700;
}

small > span {
  font-size:1rem;
  font-weight:500;
  color: white;
  padding: 1rem 1rem 1rem 0;
  top: 4px;
  position: relative;
}
/* side bar */

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  .time {
    color: darkgrey;
    font-weight: 500;
    font-size: 2rem;
}

@media screen and (min-width: 1080px) {
    .time {
        font-size: 5rem;
    }
    h1 {
        font-size: 2rem;
    }
    .kpi-value {
      font-size: 4rem;
      font-weight:500;
    }
    .kpi-text {
      font-size: 2rem;
      font-weight:500;
    }
}
